<div *ngIf="step === 'SEND_EMAIL_STEP'" class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
                <div class="mt-md-4 pb-5">
                    <div class="form">
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <h1 class="">Forgot your password?</h1>
                        </div>
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <div class="">
                                Please enter your e-mail associated with your account and follow the instructions
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example17">Email address</label>
                            <input
                                [formControl]="this.email"
                                [ngClass]="{
                                    'input-block__field_invalid': this.email['touched'] && this.email['invalid']
                                }"
                                type="email"
                                name="email"
                                placeholder="Email"
                                id="form2Example17"
                                class="form-control form-control-lg"
                            />
                            <div class="invalid-feedback" *ngIf="this.email.errors?.['required']">
                                Field is required
                            </div>
                            <div class="invalid-feedback" *ngIf="this.email.errors?.['maxLength']">
                                Field must contain maximum 80 symbols
                            </div>
                            <div class="invalid-feedback" *ngIf="this.email.errors?.['pattern']">
                                Invalid format field (letters, digits, special elements)
                            </div>
                        </div>

                        <div class="pt-1 d-grid gap-2 col-6 mx-auto">
                            <button (click)="submitEmailForRecoveryPassword()" class="btn btn-dark btn-lg btn-block">
                                Send
                            </button>
                            <a class="text-center" routerLink="/signin">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="step === 'RESET_PASSWORD_STEP'" class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
                <div class="mt-md-4 pb-5">
                    <div class="form">
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <h1 class="">Complete success</h1>
                        </div>
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <div class="">We have sent recovery password link to your email.</div>
                        </div>
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <div class="">Please check.</div>
                        </div>
                    </div>
                    <a class="text-center" routerLink="/signin">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="step === 'ERROR_RECOVER'" class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
                <div class="mt-md-4 pb-5">
                    <div class="form">
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <h1 class="">Sory!</h1>
                        </div>
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <div class="">Something went wrong.</div>
                        </div>
                        <a class="text-center" routerLink="/signin">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="step === 'SUCCESS_RECOVER'" class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
                <div class="mt-md-4 pb-5">
                    <div class="form">
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <h1 class="">Complete success</h1>
                        </div>
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <div class="">Login in your account with new credential</div>
                        </div>
                        <div class="pt-1 d-grid gap-2 col-6 mx-auto">
                            <button routerLink="/signin" class="btn btn-dark btn-lg btn-block">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="step === 'CHANGE_PASSWORD_STEP'" class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
                <div class="mt-md-4 pb-5">
                    <form [formGroup]="recoveryForm" (ngSubmit)="submitNewPassword()" class="form">
                        <div class="pt-1 d-grid gap-2 col-8 mx-auto text-center">
                            <h1 class="">Change password</h1>
                            <div>
                                for <b>{{ visibleEmail }}</b>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">New Password</label>
                            <input
                                [type]="'password'"
                                name="password"
                                [formControl]="recoveryForm.controls.password"
                                placeholder="Password"
                                id="password"
                                class="form-control form-control-lg"
                                [ngClass]="
                                    recoveryForm.controls.password.errors && recoveryForm.controls.password.touched
                                        ? 'is-invalid'
                                        : ''
                                "
                            />
                            <div class="invalid-feedback" *ngIf="recoveryForm.controls.password.errors">
                                {{ recoveryForm.controls.password.errors | validateError: "password" }}
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="confirmPassword">Confirm Password</label>
                            <input
                                [ngClass]="
                                    recoveryForm.controls.confirmPassword.errors &&
                                    recoveryForm.controls.confirmPassword.touched
                                        ? 'is-invalid'
                                        : ''
                                "
                                [type]="'password'"
                                name="confirmPassword"
                                [formControl]="recoveryForm.controls.confirmPassword"
                                placeholder="Confirm password"
                                id="confirmPassword"
                                class="form-control form-control-lg"
                            />
                            <div class="invalid-feedback" *ngIf="recoveryForm.controls.confirmPassword.errors">
                                {{ recoveryForm.controls.confirmPassword.errors | validateError: "password" }}
                            </div>
                        </div>

                        <div class="pt-1 d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-dark btn-lg btn-block">Send</button>
                        </div>
                        <a class="text-center" routerLink="/signin">Sign In</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
