<nav class="navbar bg-body-tertiary fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/streams">StreamService</a>
    </div>
</nav>

<div *ngIf="stream">
    <div  class="text-light text-start">
        <p>
            <small>
                <b>Hello {{ this.client?.username || (this.user$ | async).firstName || "buddy" }} !</b> <br />
                <span *ngIf="!isStreamEnterAvailable">Please fill in the fields to join a Stream.</span>
                <span *ngIf="isStreamEnterAvailable"> You can enter the stream 6 hours before the start . </span>
            </small>
        </p>
    </div>

    <div class="container w-100" [ngClass]="isStreamEnterAvailable ? 'im-blurry-anyway' : ''">
        <div class="row d-flex justify-content-center align-items-stretch">
            <div class="col-12 mt-3">
                <div class="card text-bg-dark container-wrapper">
                    <img class="card-img im-blurry-anyway" src="assets/images/stream-banner.jpg" alt="Card image" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center">
                        <div class="mt-md-4 pb-1">
                            <form   [formGroup]="form" (ngSubmit)="submit()" class="form">
                                <div class="form-outline mb-2">
                                    <input
                                            [formControl]="form.controls.username"
                                            type="text"
                                            placeholder="Username"
                                            class="form-control form-control-lg"
                                            [ngClass]="
                                        form.controls.username.errors && form.controls.username.touched
                                            ? 'is-invalid'
                                            : ''
                                    "
                                    />
                                    <div class="invalid-feedback" *ngIf="form.controls.username.errors">
                                        {{ form.controls.username.errors }}
                                    </div>
                                </div>

                                <div class="form-outline mb-2">
                                    <input

                                            [formControl]="form.controls.email"
                                            type="email"
                                            placeholder="Email"
                                            class="form-control form-control-lg"
                                            [ngClass]="
                                        form.controls.email.errors && form.controls.email.touched ? 'is-invalid' : ''
                                    "
                                    />
                                    <div class="invalid-feedback" *ngIf="form.controls.email.errors">
                                        {{ form.controls.email.errors | validateError: "email" }}
                                    </div>
                                </div>

                                <div *ngIf="stream.private" class="form-outline">
                                    <input
                                            [formControl]="form.controls.key"
                                            type="text"
                                            placeholder="Key for Enter"
                                            class="form-control form-control-lg"
                                            [ngClass]="
                                        form.controls.key.errors && form.controls.key.touched ? 'is-invalid' : ''
                                    "
                                    />
                                    <div class="invalid-feedback" *ngIf="form.controls.key.errors">
                                        {{ form.controls.key.errors }}
                                    </div>
                                </div>

                                <div class="pt-3 d-grid gap-2 col-6 mx-auto">
                                    <button [disabled]="this.isStreamEnterAvailable && !this.isStreamStarted" class="btn btn-dark btn-lg btn-block">Join to stream</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <figcaption class="figure-caption text-end mt-2 mb-3">
        Stream start at {{ stream.startDate | date: "medium" }}
    </figcaption>

    <div class="text-light">
        <app-date-count-down [day]="stream.startDate"></app-date-count-down>
    </div>
</div>


