<div [@fadeIn]="'fadeIn'" [appLoader]="loading">
    <div class="container-fluid">
        <button routerLink="/new-stream" type="button" class="btn btn-outline-dark">Create New Stream</button>
    </div>

    <div class="mt-3 d-flex flex-row justify-content-between">
        <h4>My streams</h4>
        <div class="d-flex flex-row gap-2">
            <app-multiselect
                [title]="'Status'"
                [entity]="'streams'"
                [filterProperty]="'statuses'"
                [options]="filtersOptions.statuses"
                [selectedOptions]="this.selectedStatuses"
                (handleChange)="handleMultiselect($event)"
            ></app-multiselect>

            <app-multiselect
                [title]="'Privacy'"
                [entity]="'streams'"
                [filterProperty]="'privacy'"
                [options]="filtersOptions.privacy"
                [selectedOptions]="this.selectedPrivacy"
                (handleChange)="handleMultiselect($event)"
            ></app-multiselect>

            <app-select
                class="col-auto"
                [id]="filtersOptions.sortBy.name"
                [title]="filtersOptions.sortBy.title"
                [queryName]="filtersOptions.sortBy.queryName"
                [options]="filtersOptions.sortBy.options"
                [defaultOption]="defaultFilters.sortBy"
                (handleChanged)="handleChangeSortByFilter($event)"
            ></app-select>
        </div>
    </div>

    <div class="form-outline mb-1 mt-2">
        <div class="form-floating">
            <input
                (search)="handleSearch($event)"
                (keyup)="handleSearch($event)"
                [value]="state.filters.q"
                class="form-control form-control-md"
                type="text"
                id="multiselect"
                name="multiselect"
                [placeholder]="'Search stream by title...'"
            />
            <label for="multiselect" class="d-flex gap-3">
                <i class="bi bi-search"></i>
                <span>Search stream by title...</span>
            </label>
        </div>
    </div>

    <div class="mt-3">
        <app-table [displayedColumns]="displayedColumns">
            <tr class="align-middle" *ngFor="let stream of streams">
                <td>{{ stream.title || "—" }}</td>
                <td>{{ (stream.startDate | date: "medium") || "—" }}</td>
                <td>{{ stream.private ? "private" : "social" }}</td>
                <td class="text-end">
                    <button class="btn btn-outline-dark btn-icon m-1" [routerLink]="['/edit/', stream.id]">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button (click)="removeStream(stream.id)" class="btn btn-outline-dark btn-icon m-1">
                        <i class="bi bi-trash3"></i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="streams && streams.length < 1">
                <td class="text-center" colspan="4">No Streams</td>
            </tr>
        </app-table>

        <app-pagination
            [totalPages]="state.pagination.totalPages"
            [page]="state.pagination.page"
            [pageSize]="state.pagination.limit"
            (handleChanged)="handleChangePage($event)"
        ></app-pagination>
    </div>
</div>
