<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="">
        <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5">
                <div class="mt-md-4">
                    <h3 class="text-center">Account activating</h3>
                    <div class="mb-2 d-flex flex-row justify-content-between gap-2">
                        <div>
                            <div class="fw-bolder">Activate Account using Email Confirmation</div>
                            <div>
                                We will send confirm-link to your email <b *ngIf="email">{{ email }}</b
                            >to confirm the validity of our email address.
                            </div>
                        </div>

                        <div class="pt-1 d-grid w-25 align-self-center">
                            <button (click)="sendConfirmEmailToken()" class="btn btn-dark btn-lg btn-block">Email Confirm</button>
                        </div>
                    </div>
                    <div  class="mb-2 d-flex flex-row justify-content-between  gap-2">
                        <div>
                        <div class="fw-bolder">Activate Account using Phone Code generating</div>
                        <div>
                            We will send code to your phone <b *ngIf="phone">{{ phone }}</b
                            >to confirm the validity of our phone number.
                        </div>
                        </div>
                        <div class="pt-1 d-grid w-25 align-self-center">
                            <button (click)="sendPhoneCode()" class="btn btn-dark btn-lg btn-block">Phone Code</button>
                        </div>
                    </div>

                    <div class="mb-2 d-flex flex-row justify-content-between  gap-2">
                        <div>
                        <div class="fw-bolder">Activate Account without confirmation (develop-mode)</div>
                        <div>
                            Use this case if email and phone activating dont work
                        </div>
                        </div>
                        <div class="pt-1 d-grid w-25 align-self-center">
                            <button (click)="activateProfileWithoutValidate()" class="btn btn-dark btn-lg btn-block">Activate</button>
                        </div>
                    </div>

                    <div class="text-end m">Return to <a class="text-center" href="/signup">Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
