<nav class="navbar bg-body-tertiary fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/main">Chevos'Ka_Streams</a>
        <div class="d-flex flex-row gap-3">
            <div class="navbar-nav d-flex flex-row gap-3"></div>
            <button (click)="logout()" type="button" class="btn btn-outline-light">
                {{ (this.user$ | async) ? "Log out" : "Leave Stream page" }}
            </button>
        </div>
    </div>
</nav>
<div *ngIf="{ client: client$ | async, viewStream: viewStream$ | async } as data">
    <div class="text-light text-end">
        <p>
            <small>
                Hello <b>{{ data.client.username }}, </b> <br />Thanks for joining our stream !
            </small>
        </p>
    </div>

    <div class="container w-100">
        <div class="row d-flex justify-content-center align-items-stretch">
            <div class="col-12 mt-3">
                <div class="card text-bg-dark container-wrapper">
                    <img class="card-img im-blurry-anyway" src="assets/images/stream-banner.jpg" alt="Card image" />
                </div>
            </div>
        </div>
    </div>

    <figcaption class="figure-caption text-end mt-2 mb-3">
        Stream start at {{ data.viewStream.startDate | date: "medium" }}
    </figcaption>

    <div class="text-light">
        <app-date-count-down [day]="data.viewStream.startDate"></app-date-count-down>
    </div>
</div>
