.images-container {
    display: flex;
    flex-direction: column;
    width: auto;

    &_area {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    img {
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 90%;
        max-height: 100%;
        align-self: center;
    }
}
