<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
<div class="card" style="border-radius: 1rem">
    <div class="card-body p-5">
        <div class="mt-md-4 pb-5">
            <form [formGroup]="myForm" (ngSubmit)="submit()" class="form">
                <div class="pt-1 d-grid gap-2 col-6 mx-auto text-center">
                    <h1 class="">Sign in</h1>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Email or Username</label>
                    <input
                            formControlName="username"
                            type="email"
                            id="form2Example17"
                            class="form-control form-control-lg"
                            [ngClass]="
                            myForm.get('username')?.errors && myForm.get('username')?.touched ? 'is-invalid' : ''
                        "
                    />

                    <div class="invalid-feedback" *ngIf="myForm.get('username')?.errors">
                        {{ myForm.get("username")?.errors | validateError: "email" }}
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27">Password</label>
                    <input
                            type="password"
                            formControlName="password"
                            id="form2Example27"
                            class="form-control form-control-lg"
                            [ngClass]="
                            myForm.get('password')?.errors && myForm.get('password')?.touched ? 'is-invalid' : ''
                        "
                    />
                    <div class="invalid-feedback" *ngIf="myForm.get('password')?.errors">
                        {{ myForm.get("password")?.errors | validateError: "password" }}
                    </div>
                </div>

                <div class="pt-1 d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark btn-lg btn-block">Login</button>
<!--                    <a class="text-center" routerLink="/recovery">Forgot password?</a>-->
                    <a class="text-center" routerLink="/signup">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
